@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.container1 {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
.container2 {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 35%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container3 {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid aliceblue;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: crimson;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: crimson;
  font-size: 18px;
  font-weight: 100;
  filter: brightness(60%);
}
