header {
    text-align: center;
}

body {
    background-color: black;
    font-family: 'Lato', sans-serif;
}
.underTitle {
    font-size: 14px;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}
.Title{
    color: aliceblue;
}
#bgVid {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(40%) blur(5px) hue-rotate(var(--value, 360deg)); --value: 143deg;;
  }
  #DevilD {
    width: 60%;
    margin-bottom: 50vh;
  }
.home {
    height: 100vh;
    position: relative;
  } 
  